* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Configurações gerais */
body{
    font-family: 'Inter', sans-serif;
    color: #000;
}

/* cabeçalho */
.page-header{
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 28px 0;
    width: 100%;
}

.header-image{
    display: block;
}

/* Banner principal */
.main_banner-desktop{
    display: block;
    width: 100%;
}

.main_banner-mobile{
    display: block;
    width: 100%;
}

/* Primeiro infocard */
.top-infocard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.top-infocard-text{
    justify-content: center;
    margin: 66px 0;
    text-align: center;
    max-width: 766px;
    max-height: 189px;
}

.top-infocard-subtitle{
    font-weight: normal;
    font-size: 32px;
    text-transform: uppercase;
}

.top-infocard-title{
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}

.top-infocard-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    text-align: left;
}

/* Primeiros cards */
.cards{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    padding: 106px 90px 80px;
    justify-content: center;
    justify-items: center;
}

.card{
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    display: flex;   
    flex-direction: column;
    padding: 45px 26px 27px;
    width: 350px;
    height: 287px;
}

.img-card{
    display: block;
    margin-bottom: 20px;
}

.card-text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 300px;
}

/* Banners centrais */
.retangle{
    position: absolute;
    width: 100%;
    height: 442px;
    background: #E0E0E0;  
}

.imagens{
    position: relative;
    margin:0 auto;
    width: 100%;
    text-align: center;
    margin-top: 63px;
}

.banner-imagens{
    display: flex;
}

.bottom-banner{
    width: 556px;
    height: 520px;
    padding:0 16px;
}

/* Cards inferiores  */

.bottom-cards{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    margin-top:138px;
    /* padding: 606px 90px 80px; */
    justify-content: center;
    justify-items: center;
}

.bottom-card{
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    display: flex;   
    flex-direction: column;
    padding: 50px 33px 66px;
    width: 432px;
    height: 332px;
}

.bottom-card-text{
    width: 367px;
    height: 113px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* Segundo infocard */
.banner-mobile{
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
}

.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    width: 100%;
}

.last-section-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.last-section-text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 20px;
    max-width: 350px;
    max-height: 190px;
}

/* rodapé */
.footer{
    align-items: center;
    background: #000000;
    color: #BDBDBD;
    display: flex;
    flex-direction: column;
    height: 128px;
    justify-content: center;
    width: 100%;
    padding: 0px;
}

.footer-logos img{
    padding: 10px;
}

.footer-description-mobile{
    font-size: 10px;
    line-height: 12px;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
}

.footer-description-desktop{
    display: none;
}

/* Responsividade primeiro banner */
@media screen and (max-width: 414px){
    .main_banner-desktop{
        display: none;
    }  
    .top-infocard-image{
        max-width: 239px;
    }
}

@media screen and (min-width: 415px){
    .main_banner-mobile{
        display: none;
    }  
}

/* Responsividade primeiro infocard */
@media screen and (max-width: 800px) {
    .top-infocard-subtitle{
        font-size: 20px;
    }

    .top-infocard-title{
        font-size: 28px;
    }

    .top-infocard-description{
        font-size: 16px;
        text-align: center;
        margin: 20px 30px;
    }

}

/* Responsividade primeiros cards */
@media screen and (max-width: 360px) {
    .card{
        width: 98%;
        padding: 15px 16px 10px;
    }
}

@media screen and (max-width: 759px) {
    .cards{
        grid-template-columns: 1fr;
        padding: 0px 30px ;
    }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
    .cards{
        grid-template-columns: repeat(2, max-content);
    }        
}

/* Responsividade banner central */
@media screen and (max-width: 363px) {
    .terceira{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {

    .imagens{
        margin-top: 112px;
    }

    .bottom-banner{
        padding:0 5px;
    }

    .primeiro{
        width: 177px;
        height: 178px;
        padding-bottom: 24px;
    }

    .terceira{
        max-width: 368px;
        max-height: 372px;
    }

    .retangle{
        height: 484px;
        margin-top: 80px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1118px) {
    .imagens{
        margin-top: 112px;
    }
    
    .bottom-banner{
        width: 278px;
        height: 260px;
        margin-bottom: 24px;
    }

    .terceira{
        max-width: 368px;
        max-height: 372px;
    }

}

@media screen and (max-width: 850px) {
    .retangle{
        height: 484px;
        margin-top: 80px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1118px) {
    .imagens{
        margin-top: 90px;
    }
}    

@media screen and (min-width: 1119px) and (max-width: 1259px) {
    .bottom-banner{
        width: 333.6px;
        height: 312px;
    }
}

@media screen and (min-width: 1260px) and (max-width: 1676px) {
    .bottom-banner{
        width: 417px;
        height: 390px;
    }
}

/* Responsividade cards inferiores */
@media screen and (max-width: 368px) {
    .bottom-card{
        width: 80%;
    }
}

@media screen and (max-width: 759px) {
    .bottom-cards{
        grid-template-columns: 1fr;
        padding: 0px 30px ;
        margin-top: 80px;
    }

}

@media screen and (max-width: 885px) {
    .bottom-card{
        max-width: 365px;
        max-height: 330px; 
    }

    .bottom-card-text{
        font-size: 14px;
        line-height: 24px;
        width: 300px;
        height: 110px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
    .bottom-cards{
        grid-template-columns: repeat(2, max-content);
    }        
}

@media screen and (min-width: 1201px) and (max-width: 1729px) {
    .bottom-cards{
        grid-template-columns: repeat(3, max-content);
    }        

    .bottom-card{
        width: 390px;
        height: 300px;
    }

    .bottom-card-text{
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1730px) and (max-width: 1785px) {
    .bottom-card{
        width: 410px;
        height: 315px;
    }
}

@media screen and (max-width: 599px) {
    .banner-desktop{
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .banner-mobile{
        display: none;
    }
    .banner-desktop{
        display: flex;
        width: 100%;
        max-width: 1630px;
    }

    .last-section-title{
        font-size: 32px;
        line-height: 20px;
        margin-top: 138px;
    }

    .last-section-text{
        font-size: 16px;
        max-width: 550px;
        max-height: 120px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width:800px) {
        
    .footer-description-mobile{
        display: none;
    }

    .footer-description-desktop{
        display: flex;
        font-size: 10px;
        line-height: 12px;
        padding-top: 5px;
        text-transform: uppercase;
        text-align: center;
    }
}